{% extends "layout/layout-empty.twig" %}

{% block css %}
    {% webpack_entry_css 'home/home' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'home/home' %}
{% endblock %}

{% block content %}

    <div id="content" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="fas fa-home"></i> {{ 'Hello, World'|trans }}</h1>

                <br>
                {{ 'Current time'|trans }}: {{now}}

                <br><br>

                <a href="{{ url_for('login') }}">{{ 'Login'|trans }}</a> (admin:admin or user:user)<br>
            </div>
        </div>
    </div>

{% endblock %}


