{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Time/time-index.js'], name: 'time-index.js'}) }}
    {{ assets({files: ['Time/time-index.css'], name: 'time-index.css'}) }}
{% endblock %}

{% block content %}

    <div id="content" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ __('Current time: %s', now) }}</h1><br>
            </div>

            <div class="col-md-12">
                <a href="{{ url_for('root') }}">{{ __('Home') }}</a>
            </div>
        </div>
    </div>

{% endblock %}


