{% extends "layout/layout-empty.twig" %}

{% block css %}
    {% webpack_entry_css 'login/login' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'login/login' %}
{% endblock %}

{% set title = 'Login'|trans %}

{% block content %}

    <div class="container">
        <form class="form-signin" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'Please log in'|trans }}</h1>
            <input type="text" name="username" class="form-control" placeholder="{{ 'Username'|trans }}" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="{{ 'Password'|trans }}" required>
            <button id="btn_login" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Login'|trans }}</button>
            <p></p>
            {% include 'layout/flash.twig' %}
            <p class="mt-5 mb-3 text-muted">&copy; {{ 'now'|date('Y') }}</p>
        </form>
    </div>

{% endblock %}
