<!-- Fixed navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top border-bottom">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('user-list') }}">
                        <i class="fa fa-home fa-fw"></i> {{ 'Home'|trans }}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cat"></i> {{ 'Menu'|trans }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user-list') }}">
                                <i class="fa fa-anchor fa-fw"></i> {{ 'Menu item 1'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user-list') }}">
                                <i class="fas fa-anchor fa-fw"></i> {{ 'Menu item 2'|trans }}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user-list') }}">
                                <i class="fa fa-anchor fa-fw"></i> {{ 'Menu item 3'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        <i class="fas fa-sign-out-alt fa-fw"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
