{% extends "layout/layout.twig" %}

{% block css %}
    {% webpack_entry_css 'layout/datatables' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'layout/datatables' %}
    {% webpack_entry_js 'user/user-list' %}
{% endblock %}

{% block content %}

    <div id="content" class="container">
        <div class="row">

            <div class="col-md-12">
                {% include 'layout/flash.twig' %}
            </div>

            <div class="col-md-12">
                <h1><i class="fas fa-user"></i> {{ 'User list'|trans }}</h1>
                <button id="add-user" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal">{{ 'Add user'|trans }}
                </button>

                <hr>
                <table id="data-table"
                       class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed">
                    <thead>
                    <tr>
                        <th>{{ 'Username'|trans }}</th>
                        <th>{{ 'E-Mail'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Role'|trans }}</th>
                        <th>{{ 'Enabled'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    <tfoot></tfoot>
                </table>
                <p></p>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


